<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>funcionamiento.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEjercicios</servlet-name>
        <servlet-class>funcionamiento.ServletEjercicios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCrear</servlet-name>
        <servlet-class>funcionamiento.ServletCrear</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEditar</servlet-name>
        <servlet-class>funcionamiento.ServletEditar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBorrar</servlet-name>
        <servlet-class>funcionamiento.ServletBorrar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEjercicios</servlet-name>
        <url-pattern>/ServletEjercicios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCrear</servlet-name>
        <url-pattern>/ServletCrear</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEditar</servlet-name>
        <url-pattern>/ServletEditar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBorrar</servlet-name>
        <url-pattern>/ServletBorrar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <mime-mapping>
        <extension>ico</extension>
        <mime-type>image/x-icon</mime-type>
    </mime-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/index.html</location>
    </error-page>
</web-app>
